body{
    color: #666;
    margin: 0;
    padding: 0;
}

h2{
    color: red;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height:20vh;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    width: 40px;
    background: #fff;
    border-radius: 50%;
    animation: grow 1.6s ease-in-out infinite;
}